.header{
    background-color: #000;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
.col-8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.col-12{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav-links{
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
.nav-links:hover{
    background-color: #fff;
    color: #000;
}
.logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .col-4{
        width: 100%;
        padding: 1rem;
    }
    .col-8{
        width: 100%;
        padding: 1rem;
    }
    .col-12{
        width: 100%;
    }
}