.header{
    background-color: #000;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.col-3{
    display: grid;
    width: 25%;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: left;
}
.p-1{
    padding: 1rem;
}
.m-1{
    margin: 1rem;
}
.m-2{
    margin:2rem;
}
.col-4{
    display: flex;
    width: 33.3%;
    justify-content: center;
    align-items: center;
}
.col-8{
    display: flex;
    width: 66.7%;
    justify-content: center;
    align-items: center;
}
.col-12{
    display: block;
    width: 100%;
}
.nav-links{
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
}
.nav-links a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
.nav-links:hover{
    text-decoration: underline;
    background-color: #fff;
    color: #000;
}
.logo{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
}

@media screen and (max-width: 768px){
    .col-4{
        width: 100%;
        padding: 1rem;
    }
    .col-8{
        width: 100%;
        padding: 1rem;
    }
    .col-12{
        width: 100%;
    }
    .col-3{
        width: 100%;
    }
}